@charset "UTF-8";
/*共通部分
------------------------------*/
html{
    font-size: 100%;
}
body{
    color: #333333;
}
li{
    list-style: none;
    width: auto;
}
a{
    text-decoration: none;
    color: #333333;
}
.wrapper{
    max-width: 1100px;
    margin: auto 0;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}


/*header
------------------------------*/
#home{
    background-image: url(../images/home-bg-2.png);
    background-size: cover;
    background-position: center top;;
    min-height: 100vh;
}
.fixed-top{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
    margin: auto 0;
}
header{
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    padding: 15px 10%;
    background-color: white;
}
.ad-head{
    background-color: rgba(15, 15, 15, 0.6);
    text-align: center;
    padding: 10px;
}
.header-right{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 220px;
}
.icon-menu{
    height: 30px;
    margin: 0 10px 0 30px;
}
.ad-head p{
    color: white;
    font-size: 0.9rem;
}
.home-content{
    font-size: 2rem;
    letter-spacing: 12px;
    color: white;
    padding: 0 10%;
    text-align: center;
}
.home-content h2{
    padding-top: 30%;
}

/*デフォルトは非表示*/
.menu{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: rgb(70, 75, 70);
    background-size: cover;
    padding: 7% 5%;
}
.menu a{
    color: white;
}
.menu a:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.menu li{
    margin-bottom: 25px;
    margin-left: 3%;
}
.about{
    padding-bottom: 30px;
    border-bottom: rgb(200, 200, 200) 1px solid;
}
.info{
    padding-top: 60px;
}
.kana{
    font-size: 0.9rem;
    margin-left: 8px;
}

/*thema*/
#thema{
    margin: auto 20vw;
    padding: 50px 0 200px;
    position: relative;
}
.thema-box{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin-bottom: 140px;
}
.thema-left-top{
    width: 38vw;
}
.thema-right{
    width: 27vw;
    margin: -20% 0 0 60%;
}
.thema-left-bottom{
    width: 25vw;
    margin: -30% 0 0 7%;
}
#thema h2{
    font-size: 2.5rem;
    margin-bottom: 35px;
}
#thema p{
    line-height: 30px;
    letter-spacing: 1px;
}
.view-more{
    position: absolute;
    bottom: 100px;
    right: 20px;
    padding:0 0 5px 30px;
    color: #333333;
    border-bottom: #333333 1px solid;
}

/*campaign*/
#campaign{
    justify-content: space-around;
    background-color: #f9f8f2;
}
#campaign img{
    width: 37.5vw;
    border-radius: 10px;
}
.split{
    display: flex;
    padding: 50px 10vw 100px;
}
.split-center{
    align-items: center;
}
.split-r{
    margin-left: 40px;
    padding: 20px;
    min-width: 30vw;
}
.center{
    text-align: center;
}
.split-sub{
    font-weight: bold;
    font-size: 0.7rem;
    margin-bottom: 15px;
}
.split-title{
    font-weight: bold;
    margin-bottom: 20px;
}
.white-box{
    padding: 20px 30px;
    background-color: white;
}
.white-box li{
    font-size: 0.9rem;
}
.box-left{
    text-align: left;
}
.box-title{
    color: gray;
    font-size: 0.9rem;
    font-weight: bold;
    padding:20px 0 5px;
}
.date{
    padding-bottom: 15px;
    border-bottom: 1px gray solid;
}

/*tea cake*/
#sale{
    justify-content: space-around;
    background-color: rgb(234, 234, 234);
    align-items: flex-start;
    padding: 50px 12vw;
}
#sale img{
    width: 36vw;
}
.split-sale{
    margin-left: 20px;
    padding: 20px 80px;
    min-width: 25vw;
}
.sale-text{
    padding-top: 40px;
}
.shop-name{
    padding-top: 40px;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: bold;
}
.sale-title{
    font-size: 1.25rem;
    letter-spacing: 3px;
    font-weight: bold;
}
.btn-sale{
    padding: 17.5px 25px;
    margin: 0 -25px 30px -25px;
    border: rgba(215, 215, 215, 0.6) 0.1px solid;
    border-radius: 2px;
}
.btn-top{
    margin-top: 40px;
}

/*limited*/
#limited{
    justify-content: space-around;
    background-color: #f9f8f2;
}
#limited img{
    margin-left: 3vw;
    width: 35vw;
}
.limit-sub{
    margin-bottom: 30px;
}
.limit-title{
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 40px;
    padding-right: 5vw;
}
.btn{
    max-width: 75%;
}
.btn a{
    padding: 20px 25px;
    border: rgba(215, 215, 215, 0.6) 0.1px solid;
    border-radius: 2px;
}
.btn-inner{
    display: flex;
    justify-content: space-between;
}
.arrow{
    color: gray;
}

/*pickup*/
#pickup{
    justify-content: space-around;
    background-color: rgb(234, 234, 234);
}
#pickup img{
    margin-left: 3vw;
    width: 35vw;
}

/*gift*/
#gift{
    justify-content: space-around;
}
#gift img{
    padding-left: unset;
    width: 50vw;
}
.split-gift{
    display: flex;
    padding: 0 10vw 50px 0;
}
.biggest{
    font-size: 2rem;
    font-weight: bold;
    line-height: 3.5rem;
    margin-bottom: 30px;
}
.gift-normal{
    margin-bottom: 25px;
}
.btn-gift{
    max-width: 85%;
}

/*topics*/
#topics{
    padding: 100px 30px;
    background-color: #606060;
    text-align: center;
}
#topics p{
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
}

/*journal*/
#journal{
    padding: 100px 30px;
    text-align: center;
    background-color: rgb(234, 234, 234);
}
#journal img{
    margin-top: 50px;
    width: 60vw;
}