@charset "UTF-8";
/*共通部分
------------------------------*/
html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    color: #333333;
    width: 100%;
}
li{
    list-style: none;
    width: auto;
}
a{
    text-decoration: none;
    color: #333333;
    cursor: pointer;
}
a:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.wrapper{
    max-width: 1100px;
    margin: auto 0;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
.fa{
    color: white;
}
.fadein{
    opacity: 0;
    transform:translate(0,10px);
    transition: all 1.5s;
}
.fadein-immediatement{
    opacity: 0;
    transform:translate(0,10px);
    transition: all 1.5s;
}
.active{
    opacity: 1;
    transform: translate(0,0);
}


/*header
------------------------------*/
.fixed-top{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
    margin: auto 0;
}
.inner{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}
header{
    padding: 15px 10%;
    background-color: white;
}
.ad-head{
    background-color: rgba(15, 15, 15, 0.6);
    text-align: center;
    padding: 10px;
}
.header-right{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 220px;
}
.icon-menu{
    height: 30px;
    margin: 0 10px 0 30px;
}
.ad-head p{
    color: white;
    font-size: 0.9rem;
}
.home-content{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 12px;
    color: white;
    padding: 0 10%;
    text-align: center;
    background-image: url(../images/home-bg-2.png);
    background-size: cover;
    background-position: center top;;
    min-height: 100vh;
}
.home-content p{
    padding-top: 50vh;
}

/*デフォルトは非表示*/
.menu{
    display: none;
    position: fixed;
    right: 0;
    z-index: 100;
    width: 40%;
    height: 100vh;
    background-color: rgb(70, 75, 70);
    background-size: cover;
    padding: 7% 5%;
    opacity: 0.99;
}
.close-modal{
    position: absolute;
    right: 50px;
    top: 30px;
    cursor: pointer;
    padding: 10px 50px;
}
.fa-times-hover{
    opacity: 0.8;
    border-radius: 50px;
    background-color: #606060;
    padding:10px 50px;
    transition: all 1s;
}
.menu a{
    color: white;
}
.menu a:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.menu li{
    margin-bottom: 25px;
    margin-left: 3%;
}
.about{
    padding-bottom: 30px;
    border-bottom: rgb(200, 200, 200) 1px solid;
}
.info{
    padding-top: 60px;
}
.kana{
    font-size: 0.9rem;
    margin-left: 8px;
}
.sns{
    color: white;
    margin-left: 20px;
    display: flex;
    font-size: 1.2rem;
}
.fa-twitter{
    margin-right: 20px;
}

/*thema*/
#thema{
    margin: auto 20vw;
}
/*画面幅が2000pxを超えたらサイズ変えた方がいい*/
.inner-thema{
    max-width: 1150px;
    padding: 50px 0 200px;
    position: relative;
    margin: 0 auto;
}
.thema-box{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin-bottom: 140px;
}
.thema-left-top{
    width: 38vw;
}
.thema-right{
    width: 27vw;
    margin: -20% 0 0 60%;
}
.thema-left-bottom{
    width: 25vw;
    margin: -24% 0 0 7%;
}
#thema h2{
    font-size: 2.5rem;
    margin-bottom: 35px;
}
#thema p{
    line-height: 30px;
    letter-spacing: 1px;
}
.view-more{
    position: absolute;
    bottom: 100px;
    right: 20px;
    padding:0 0 15px 30px;
    color: #333333;
    border-bottom: #333333 1px solid;
}

/*campaign*/
#campaign{
    justify-content: space-around;
    background-color: #f9f8f2;
}
.inner-campaign{
    max-width: 1150px;
    padding: 50px 20vw 200px 20vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#campaign img{
    width: 37.5vw;
    border-radius: 10px;
}
.split-r{
    margin-left: 40px;
    padding: 20px;
    min-width: 30vw;
}
.center{
    text-align: center;
}
.split-sub{
    font-weight: bold;
    font-size: 0.7rem;
    margin-bottom: 15px;
}
.split-title{
    font-weight: bold;
    margin-bottom: 20px;
}
.white-box{
    padding: 20px 30px;
    width: 36vw;
    background-color: white;
}
.white-box li{
    font-size: 0.9rem;
}
.box-left{
    text-align: left;
}
.box-title{
    color: gray;
    font-size: 0.9rem;
    font-weight: bold;
    padding:20px 0 5px;
}
.date{
    padding-bottom: 15px;
    border-bottom: 1px gray solid;
}

/*tea cake*/
.sale{
    background-color: rgb(234, 234, 234);
}
.sale img{
    width: 36vw;
}
.inner-sale{
    max-width: 1150px;
    padding: 50px 10vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 auto;
}
.split-sale{
    margin-left: 20px;
}
.sale-text{
    padding-top: 40px;
}
.shop-name{
    padding-top: 40px;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: bold;
}
.sale-title{
    font-size: 1.25rem;
    letter-spacing: 3px;
    font-weight: bold;
}
.btn-sale{
    padding: 17.5px 25px;
    margin: 0 25px 30px 25px;
    border: rgba(215, 215, 215, 0.6) 0.1px solid;
    border-radius: 2px;
}
.btn-top{
    margin-top: 40px;
}

/*limited*/
#limited{
    justify-content: space-around;
    background-color: #f9f8f2;
    padding: 50px 10vw;
}
#limited img{
    width: 35vw;
}
.limit-sub{
    margin-bottom: 30px;
}
.limit-title{
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 40px;
    padding-right: 5vw;
}
.btn{
    max-width: 75%;
}
.btn a{
    padding: 20px 25px;
    border: rgba(175, 175, 175, 0.6) 0.1px solid;
    border-radius: 2px;
}
.btn-inner{
    display: flex;
    justify-content: space-between;
}
.arrow{
    color: gray;
}

/*pickup*/
#pickup{
    justify-content: space-around;
    background-color: rgb(234, 234, 234);
}
#pickup img{
    width: 35vw;
}
.inner-pickup{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 50px 10vw;
}

/*gift*/
#gift img{
    padding-left: unset;
    width: 50vw;
}
.inner-gift{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.split-gift{
    display: flex;
    padding-right: 10vw;
}
.biggest{
    font-size: 2rem;
    font-weight: bold;
    line-height: 3.5rem;
    margin-bottom: 30px;
}
.gift-normal{
    margin-bottom: 25px;
}
.btn-gift{
    max-width: 85%;
}

/*topics*/
#topics{
    padding: 100px 30px;
    background-color: #606060;
    text-align: center;
}
.inner-topics{
    max-width: 1100px;
    margin: 0 auto;
}
.topic-title{
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    margin-bottom: 50px;
}
.flex{
    display: flex;
    align-items: center;
}
.arrow-2{
    color: white;
    font-size: 2rem;
}
.images{
    display: flex;
    overflow: hidden;
    width: 900px;
    height: 410px;/*heightを指定しなければ高さが潰れてしまった*/
    margin: 0 auto;
    position: relative;
}
.topic-item{
    width: 260px;
    height: auto;
    padding: 10px;
    margin-right: 20px;
    background-color: #f9f8f2;
    transition: all 0.6s;
}
.topic-bigger{
    font-weight: bold;
    padding: 20px 20px;
}
.topic-smaller{
    padding: 0 20px 50px;
}
.one,.test1{
    position: absolute;
    left: 0;
}
.two,.test2{
    position: absolute;
    left: 300px;
}
.three,.test3{
    position: absolute;
    left: 600px;
}
.zero,.test4{
    position: absolute;
    left: -300px;
    opacity: 0;
}
.four,.test5{
    position: absolute;
    left: 900px;
    opacity: 0;
}


/*journal*/
#journal{
    padding: 100px calc(50vw - 360px);
    text-align: center;
    background-color: rgb(234, 234, 234);
}
.latest{
    display: block;
    flex-direction: column;
    background-color: white;
    width: 720px;
    margin: 50px auto 0;
    border-bottom: #bababa 1px solid;
}
.journal-latest{
    padding: 15px 22.5px 40px;
    position: relative;
}
.journal-date{
    color: #606060;
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.general{
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    padding: 15px 20px;
    width: 680px;
    position: relative;
    border-bottom: #bababa 1px solid;
}
.general img{
    width: 120px;
    height: 120px;
}
.journal-general{
    width: 535px;
}
.general-text{
    text-align: left;
    margin-left: 25px;
}
.general-date{
    position: absolute;
    bottom: 30px;
    right: 20px;
    color: #606060;
}
.btn-journal{
    margin: 70px auto;
    width: 250px;
    border: #bababa 1px solid;
    border-radius: 2px;
}
.btn-journal a{
    display: block;
    padding: 10px 0;
}

/*news*/
#news{
    padding: 100px calc(50vw - 400px);
    text-align: center;
    background-color:white;
}
#news .sale-title{
    margin-bottom: 40px;
}
.news-contents{
    position: relative;
    padding: 30px 30px;
}
.news-date{
    position: absolute;
    top: 0;
    left: 30px;
    color: #bababa;
}
.news-text{
    color: #ca871b;
    text-decoration: underline;
    text-align: left;
    font-size: 1.1rem;
}

/*cards*/
#cards{
    justify-content: space-around;
    background-color: rgb(234, 234, 234);
    padding: 50px 25px;
}
#cards img{
    width: 37.5vw;
    margin-left: -5vw;
}
.inner-cards{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;    
}
.split-cards{
    min-width: 30vw;
    text-align: center;
    margin-left: 20px;
    padding-top: 30px;
}
.btn-cards{
    margin: 40px auto 0;
    width: 250px;
    border: #bababa 1px solid;
    border-radius: 2px;
    background-color: #333333;
}
.btn-cards a{
    display: block;
    padding: 10px 25px;
    color: white;
    font-size: 0.8rem;
}

/*mail magazine*/
#mailMagazine{
    background: linear-gradient(180deg, #bcdac1 0%,#bcdac1 50%, #f9e7c1 0%,#f9e7c1 50%);
    padding: 70px calc(50vw - 380px);
    text-align: center;
}
.mm-box{
    padding: 60px 30px;
    max-width: 80vw;
    margin: 0 auto;
    background-color: white;
    color: #464646;
}
.mm-title{
    font-size: 1.5rem;
    margin-bottom: 50px;
    letter-spacing: 2px;
}
.mm-text{
    margin-bottom: 50px;
}
#mailMagazine form{
    margin: 0 auto;
}
.mail-adress{
    text-align: left;
    background-color: rgb(244, 244, 244);
    padding: 20px;
    width: 40%;
    border: #dfdfdf 0.1px solid;
    line-height: 1.2rem;
    border-radius: 2px;
}
input[type="submit"]{
    border: #dfdfdf 0.1px solid;
    margin-left: 20px;
    padding: 20px;
    color: white;
    background-color: #333333;
    cursor: pointer;
    border-radius: 2px;
}
.mm-out{
    background-color: rgb(244, 244, 244);
    padding: 40px 30px;
    max-width: 80vw;
    margin: 0 auto;
}
.bold{
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: underline;
}

/*footer*/
footer{
    background-color: #606060;
    padding: 70px calc(50vw - 350px) 25px;
    text-align: center;
}
.footer-box{
    color: white;
    text-align: left;
}
footer li{
    margin-bottom: 18px;
    font-size: 0.9rem;
}
footer a{
    color: white;
    cursor: pointer;
}
.foot-logo{
    width: 50px;
    height: 50px;
    margin-top: 65px;
}
.copyrights{
    font-size: 0.6rem;
}

@media(max-width:750px){
    .home-content{
        min-height: 75vh;
    }
    header{
        font-size: 12px;
        padding: 8px 20px;
    }
    .logo img{
        width: 160px;
    }
    .icon-menu{
        height: 24px;
    }
    .ad-head{
        display: none;
    }
    .home-content p{
        padding-top: 50%;
    }


    #thema{
        margin: auto 20px;
    }
    #thema h2{
        font-size: 1.5rem;
    }
    #thema p{
        font-size: 0.9rem;
    }
    .thema-box{
        max-width: 750px;
        margin-bottom: 80px;
    }
    .thema-left-top{
        width: 48vw;
        margin-left: 5%;
    }
    .thema-right{
        width: 37vw;
        margin: -20% 0 0 55%;
    }
    .thema-left-bottom{
        width: 35vw;
        margin: -30% 0 0 12%;
    }


    #campaign img{
        width: 100%;
    }
    .inner-campaign{
        flex-direction: column;
        padding: 50px 3vw 100px;
        padding-top: 40px;
        margin-left: unset;        
    }
    .inner-sale{
        flex-direction: column;
        padding: 50px 3vw 100px;
    }
    .split-r{
        padding-top: 40px;
        margin-left: unset;
    }
    .btn-sale{
        margin: 10px 60px;
    }

    .sale{
        padding: 50px 3vw;
    }
    .sale img{
        width: 100%;
    }
    .center{
        width: 100%;
    }
    .split-sale{
        margin-left: unset;
        width: 100%;
        padding: unset;
        text-align: center;
        padding: 20px 0 30px;
    }
    .box-left{
        text-align: unset;
    }
    .white-box{
        width: auto;
    }


    #limited img{
        width: 100%;
        margin-left: unset;
    }
    .limit-title{
        padding-right: unset;
    }
    .inner-limited{
        display: block;
    }


    #pickup img{
        width: 100%;
        margin-left: unset;
    }
    .inner-pickup{
        display: block;
    }


    .arrow-2{
        display: none;
    }
    .images{
        width: 90vw;
        padding: 60px;
    }
    .topic-item{
        width: 84vw;
        margin: 0 auto;
    }
    .one,.test1{
        position: absolute;
        left: 0;
        right: 0;
    }
    .two,.test2{
        position: absolute;
        left: 700px;
    }
    .three,.test3{
        position: absolute;
        left: 1400px;
    }
    .zero,.test4{
        position: absolute;
        left: -700px;
        opacity: 0;
    }
    .four,.test5{
        position: absolute;
        left: 2100px;
        opacity: 0;
    }


    #gift{
        background-image: url(../images/gift-media.webp);
        background-size: cover;
        background-position: center top;;
        min-height: 100vh;
        position: relative;
    }
    #gift img{
        display: none;
    }
    .split-gift{
        flex-direction: column;
        padding: 0 0 50px;
    }
    .gift-text{
        position: absolute;
        bottom: 0;
    }
    .biggest{
        font-size: 1.3rem;
        line-height: 2.2rem;
    }
    .btn-gift{
        max-width: 350px;
        background-color: rgba(245, 245, 245, 0.5);
        font-size: 0.8rem;
    }



    #journal{
        padding: 50px 0 10px;
        text-align: center;
        background-color: rgb(234, 234, 234);
    }
    .latest{
        width: 100%;
        font-size: 0.9rem;
    }
    .journal-date{
        font-size: 0.9rem;
    }
    .general{
        width: 100%;
        padding: unset;
        align-items: flex-start;
    }
    .general-text{
        margin-left: unset;
        padding-top: 30px;
        font-size: 0.8rem;
    }
    .general-date{
        font-size: 0.8rem;
        bottom: 10px;
    }
    .general img{
        padding: 10px;
        max-width: 80px;
        max-height: 80px;
    }
    .btn-journal{
        margin: 30px auto;
        font-size: 0.8rem;
        width: 40%;
    }
    .btn-journal a{
        padding: 10px 10px;
    }


    #cards img{
        width: 100%;
        margin-left: unset;
    }
    .split-cards{
        margin-left: unset;
        padding-top: 60px;
    }
    .inner-cards{
        display: block;
    }


    .footer-box{
        margin-left: 20px;
    }
}


@media(max-width:500px){
    .home-content{
        min-height: 60vh;
    }
    header{
        font-size: 8px;
        padding: 6px 10px;
    }
    .logo img{
        width: 120px;
    }
    .icon-menu{
        height: 20px;
        margin: 0 0 0 20px;
    }
    .home-content p{
        padding-top: 50%;
        font-size: 1.65rem;
        overflow: scroll;
    }
    #topics{
        padding: 100px 10px;
    }
    .images{
        width: 90vw;
        padding: 10px;
    }
}


@media(min-width:1500px){
    .menu{
        width: 25%;
        padding: 30vw 100px;
    }
    #campaign img{
        width: 37.5%;
    }
    .inner-campaign{
        justify-content: space-between;
    }
    .inner-sale{
        justify-content: space-between;
    }
    .sale img{
        max-width: 600px;
    }
    .white-box{
        width: 500px;
    }
    #limited img{
        width: 37.5%;
    }
    .inner-limited{
        max-width: 1150px;
        justify-content: space-between;
    }
    #pickup{
        padding: 50px;
    }
    #pickup img{
        width: 37.5%;
        margin-left: unset;
    }
    .inner-pickup{
        max-width: 1150px;
    }
}