@charset "UTF-8";
/*共通部分
------------------------------*/
html{
    font-size: 100%;
}
body{
    color: #333333;
}
li{
    list-style: none;
    width: auto;
}
a{
    text-decoration: none;
    color: #333333;
}
.wrapper{
    max-width: 1100px;
    margin: auto 0;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}


/*header
------------------------------*/
#home{
    background-image: url(../images/home-bg-2.png);
    background-size: cover;
    background-position: center top;;
    min-height: 100vh;
}
.fixed-top{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
    margin: auto 0;
}
header{
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    padding: 15px 10%;
    background-color: white;
}
.ad-head{
    background-color: rgba(15, 15, 15, 0.6);
    text-align: center;
    padding: 10px;
}
.header-right{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 220px;
}
.icon-menu{
    height: 30px;
    margin: 0 10px 0 30px;
}
.ad-head p{
    color: white;
    font-size: 0.9rem;
}
.home-content{
    font-size: 2rem;
    letter-spacing: 12px;
    color: white;
    padding: 0 10%;
    text-align: center;
}
.home-content h2{
    padding-top: 30%;
}

/*デフォルトは非表示*/
.menu{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: rgb(70, 75, 70);
    background-size: cover;
    padding: 7% 5%;
}
.menu a{
    color: white;
}
.menu a:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.menu li{
    margin-bottom: 25px;
    margin-left: 3%;
}
.about{
    padding-bottom: 30px;
    border-bottom: rgb(200, 200, 200) 1px solid;
}
.info{
    padding-top: 60px;
}
.kana{
    font-size: 0.9rem;
    margin-left: 8px;
}

/*thema*/
#thema{
    margin: auto 20vw;
    padding: 50px 0 200px;
    position: relative;
}
.thema-box{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin-bottom: 140px;
}
.thema-left-top{
    width: 38vw;
}
.thema-right{
    width: 27vw;
    margin: -20% 0 0 60%;
}
.thema-left-bottom{
    width: 25vw;
    margin: -30% 0 0 7%;
}
#thema h2{
    font-size: 2.5rem;
    margin-bottom: 35px;
}
#thema p{
    line-height: 30px;
    letter-spacing: 1px;
}
.view-more{
    position: absolute;
    bottom: 100px;
    right: 20px;
    padding:0 0 5px 30px;
    color: #333333;
    border-bottom: #333333 1px solid;
}
/*campaign*/
#campaign{
    background-color: beige;
    padding: 50px 10vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#campaign img{
    width: 40vw;
    border-radius: 10px;
}
.cam-text{
    margin-left: 50px;
}
.smaller{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 0.75rem;
}
.bigger{
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.25rem;
}
.period{
    background-color: white;
    text-align: left;
    padding: 20px 28px;
}
.sub-title{
    color: darkgrey;
    margin-bottom: 5px;
}
.date{
    border-bottom: darkgray 0.1px solid;
    padding-bottom: 15px;
}
.caution{
    padding-top: 15px;
}
.period li{
    font-size: 14px;
}

/*tea collection*/
#onSale{
    background-color: aliceblue;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 50px 14vw;
}
#onSale img{
    width: 35vw;
}
.collection-text{
    background-color: white;
    margin-left: 25px;
    padding: 50px 75px;
    text-align: center;
}
.shopName{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 5px;
}
.collection-title{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 3rem;
}
.item{
    margin-bottom: 2rem;
}
.text{
    margin-bottom: 1.75rem;
}
.btn-inner{
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    margin: 0 -20px;
    border: 1px solid rgba(145, 145, 145, 0.6);
    margin-bottom: 1rem;
}

/*cheesecake*/
.cheesecake .item{
    margin-top: 1.75rem;
}