@charset "UTF-8";
/*共通部分
------------------------------*/
html{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    color: #333333;
}
li{
    list-style: none;
    width: auto;
}
a{
    text-decoration: none;
    color: #333333;
}
a:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.wrapper{
    max-width: 1100px;
    margin: auto 0;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}


/*header
------------------------------*/
#home{
    background-image: url(../images/home-bg-2.png);
    background-size: cover;
    background-position: center top;;
    min-height: 100vh;
}
.fixed-top{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
    margin: auto 0;
}
header{
    display: flex;
    justify-content: space-between;
    margin: auto 0;
    padding: 15px 10%;
    background-color: white;
}
.ad-head{
    background-color: rgba(15, 15, 15, 0.6);
    text-align: center;
    padding: 10px;
}
.header-right{
    display: flex;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 220px;
}
.icon-menu{
    height: 30px;
    margin: 0 10px 0 30px;
}
.ad-head p{
    color: white;
    font-size: 0.9rem;
}
.home-content{
    font-size: 2rem;
    letter-spacing: 12px;
    color: white;
    padding: 0 10%;
    text-align: center;
}
.home-content h2{
    padding-top: 30%;
}

/*デフォルトは非表示*/
.menu{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: rgb(70, 75, 70);
    background-size: cover;
    padding: 7% 5%;
}
.menu a{
    color: white;
}
.menu a:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.menu li{
    margin-bottom: 25px;
    margin-left: 3%;
}
.about{
    padding-bottom: 30px;
    border-bottom: rgb(200, 200, 200) 1px solid;
}
.info{
    padding-top: 60px;
}
.kana{
    font-size: 0.9rem;
    margin-left: 8px;
}

/*thema*/
#thema{
    margin: auto 20vw;
    padding: 50px 0 200px;
    position: relative;
}
.thema-box{
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin-bottom: 140px;
}
.thema-left-top{
    width: 38vw;
}
.thema-right{
    width: 27vw;
    margin: -20% 0 0 60%;
}
.thema-left-bottom{
    width: 25vw;
    margin: -30% 0 0 7%;
}
#thema h2{
    font-size: 2.5rem;
    margin-bottom: 35px;
}
#thema p{
    line-height: 30px;
    letter-spacing: 1px;
}
.view-more{
    position: absolute;
    bottom: 100px;
    right: 20px;
    padding:0 0 5px 30px;
    color: #333333;
    border-bottom: #333333 1px solid;
}

/*campaign*/
#campaign{
    justify-content: space-around;
    background-color: #f9f8f2;
}
#campaign img{
    width: 37.5vw;
    border-radius: 10px;
}
.split{
    display: flex;
    padding: 50px 10vw 100px;
}
.split-center{
    align-items: center;
}
.split-r{
    margin-left: 40px;
    padding: 20px;
    min-width: 30vw;
}
.center{
    text-align: center;
}
.split-sub{
    font-weight: bold;
    font-size: 0.7rem;
    margin-bottom: 15px;
}
.split-title{
    font-weight: bold;
    margin-bottom: 20px;
}
.white-box{
    padding: 20px 30px;
    background-color: white;
}
.white-box li{
    font-size: 0.9rem;
}
.box-left{
    text-align: left;
}
.box-title{
    color: gray;
    font-size: 0.9rem;
    font-weight: bold;
    padding:20px 0 5px;
}
.date{
    padding-bottom: 15px;
    border-bottom: 1px gray solid;
}

/*tea cake*/
#sale{
    justify-content: space-around;
    background-color: rgb(234, 234, 234);
    align-items: flex-start;
    padding: 50px 12vw;
}
#sale img{
    width: 36vw;
}
.split-sale{
    margin-left: 20px;
    padding: 20px 80px;
    min-width: 25vw;
}
.sale-text{
    padding-top: 40px;
}
.shop-name{
    padding-top: 40px;
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: bold;
}
.sale-title{
    font-size: 1.25rem;
    letter-spacing: 3px;
    font-weight: bold;
}
.btn-sale{
    padding: 17.5px 25px;
    margin: 0 -25px 30px -25px;
    border: rgba(215, 215, 215, 0.6) 0.1px solid;
    border-radius: 2px;
}
.btn-top{
    margin-top: 40px;
}

/*limited*/
#limited{
    justify-content: space-around;
    background-color: #f9f8f2;
}
#limited img{
    margin-left: 3vw;
    width: 35vw;
}
.limit-sub{
    margin-bottom: 30px;
}
.limit-title{
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 40px;
    padding-right: 5vw;
}
.btn{
    max-width: 75%;
}
.btn a{
    padding: 20px 25px;
    border: rgba(175, 175, 175, 0.6) 0.1px solid;
    border-radius: 2px;
}
.btn-inner{
    display: flex;
    justify-content: space-between;
}
.arrow{
    color: gray;
}

/*pickup*/
#pickup{
    justify-content: space-around;
    background-color: rgb(234, 234, 234);
}
#pickup img{
    margin-left: 3vw;
    width: 35vw;
}

/*gift*/
#gift{
    justify-content: space-around;
}
#gift img{
    padding-left: unset;
    width: 50vw;
}
.split-gift{
    display: flex;
    padding: 0 10vw 50px 0;
}
.biggest{
    font-size: 2rem;
    font-weight: bold;
    line-height: 3.5rem;
    margin-bottom: 30px;
}
.gift-normal{
    margin-bottom: 25px;
}
.btn-gift{
    max-width: 85%;
}

/*topics*/
#topics{
    padding: 100px 30px;
    background-color: #606060;
    text-align: center;
}
#topics p{
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
}

/*journal*/
#journal{
    padding: 100px calc(50vw - 360px);
    text-align: center;
    background-color: rgb(234, 234, 234);
}
.latest{
    display: block;
    flex-direction: column;
    background-color: white;
    width: 720px;
    margin: 50px auto 0;
    border-bottom: #bababa 1px solid;
}
.journal-latest{
    padding: 15px 22.5px 40px;
    position: relative;
}
.journal-date{
    color: #606060;
    font-size: 0.8rem;
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.general{
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    padding: 15px 20px;
    width: 680px;
    position: relative;
    border-bottom: #bababa 1px solid;
}
.general img{
    width: 120px;
    height: 120px;
}
.journal-general{
    width: 535px;
}
.general-text{
    text-align: left;
    margin-left: 25px;
}
.general-date{
    position: absolute;
    bottom: 30px;
    right: 20px;
    color: #606060;
    font-size: 0.8rem;
}
.btn-journal{
    margin: 70px auto;
    width: 250px;
    border: #bababa 1px solid;
    border-radius: 2px;
}
.btn-journal a{
    display: block;
    padding: 10px 0;
}

/*news*/
#news{
    padding: 100px calc(50vw - 400px);
    text-align: center;
    background-color:white;
}
#news .sale-title{
    margin-bottom: 40px;
}
.news-contents{
    position: relative;
    padding: 30px 30px;
}
.news-date{
    position: absolute;
    top: 0;
    left: 30px;
    font-size: 0.8rem;
    color: #bababa;
}
.news-text{
    color: #ca871b;
    text-decoration: underline;
    text-align: left;
    font-size: 1.1rem;
}

/*cards*/
#cards{
    justify-content: space-around;
    background-color: rgb(234, 234, 234);
    padding: 50px 25px;
}
#cards img{
    width: 37.5vw;
    margin-left: -5vw;
}
.split-cards{
    min-width: 30vw;
    text-align: center;
    margin-left: -25vw;
    padding-top: 30px;
}
.btn-cards{
    margin: 40px auto 0;
    width: 250px;
    border: #bababa 1px solid;
    border-radius: 2px;
    background-color: #333333;
}
.btn-cards a{
    display: block;
    padding: 10px 25px;
    color: white;
    font-size: 0.8rem;
}

/*mail magazine*/
#mailMagazine{
    background: linear-gradient(180deg, #bcdac1 0%,#bcdac1 50%, #f9e7c1 0%,#f9e7c1 50%);
    padding: 70px calc(50vw - 380px);
    text-align: center;
}
.mm-box{
    padding: 60px 30px;
    max-width: 80vw;
    margin: 0 auto;
    background-color: white;
    color: #464646;
}
.mm-title{
    font-size: 1.5rem;
    margin-bottom: 50px;
    letter-spacing: 2px;
}
.mm-text{
    margin-bottom: 50px;
}
#mailMagazine form{
    margin: 0 auto;
}
.mail-adress{
    text-align: left;
    background-color: rgb(244, 244, 244);
    padding: 20px;
    width: 40%;
    border: #dfdfdf 0.1px solid;
    line-height: 1.2rem;
    border-radius: 2px;
}
input[type="submit"]{
    width: 15%;
    border: #dfdfdf 0.1px solid;
    padding: 20px;
    color: white;
    background-color: #333333;
    cursor: pointer;
    border-radius: 2px;
}
.mm-out{
    background-color: rgb(244, 244, 244);
    padding: 40px 30px;
    max-width: 80vw;
    margin: 0 auto;
}
.bold{
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: underline;
}

/*footer*/
footer{
    background-color: #606060;
    padding: 70px calc(50vw - 350px) 25px;
    text-align: center;
}
.footer-box{
    color: white;
    text-align: left;
}
footer li{
    margin-bottom: 18px;
    font-size: 0.9rem;
}
footer a{
    color: white;
    cursor: pointer;
}
.foot-logo{
    width: 50px;
    height: 50px;
    margin-top: 65px;
}
.copyrights{
    font-size: 0.6rem;
}